﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - @T("My ASP.NET MVC Application")</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">@Html.ActionLink(T("your logo here"), "Index", "Home")</p>
			</div>
			<div class="float-right">
				@Html.Partial("LanguageUserControl")
			</div>
			<div class="float-right">
				<section id="login">
					@Html.Partial("_LoginPartial")
				</section>
				<nav>
					<ul id="menu">
						<li>@Html.ActionLink(T("Home"), "Index", "Home")</li>
						<li>@Html.ActionLink(T("About"), "About", "Home")</li>
						<li>@Html.ActionLink(T("Contact"), "Contact", "Home")</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - @T("My ASP.NET MVC Application")</p>
			</div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</body>
</html>
